*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProRegular.woff") format("woff"),
			 url("fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProItalic.eot");
  src: url("fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProItalic.woff") format("woff"),
			 url("fonts/MyriadProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-size: 18px;
  color: #333;
  font-weight: 200;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "mydriad", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.hidden {
  display: none;
}

a,
a:focus {
  text-decoration: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
  /*Disable Animation on Mobile Devices*/

  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {

}

* {
  text-transform: uppercase;
  padding: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), to(#fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProRegular.woff") format("woff"),
			 url("fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProItalic.eot");
  src: url("fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProItalic.woff") format("woff"),
			 url("fonts/MyriadProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-size: 18px;
  color: #333;
  font-weight: 200;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "mydriad", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.hidden {
  display: none;
}

a,
a:focus {
  text-decoration: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
  /*Disable Animation on Mobile Devices*/

  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {

}

* {
  text-transform: uppercase;
  padding: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), to(#fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProRegular.woff") format("woff"),
			 url("fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProItalic.eot");
  src: url("fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProItalic.woff") format("woff"),
			 url("fonts/MyriadProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-size: 18px;
  color: #333;
  font-weight: 200;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "mydriad", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.hidden {
  display: none;
}

a,
a:focus {
  text-decoration: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
  /*Disable Animation on Mobile Devices*/

  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {

}

* {
  text-transform: uppercase;
  padding: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), to(#fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProRegular.woff") format("woff"),
			 url("fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mydriad";
  src: url("fonts/MyriadProItalic.eot");
  src: url("fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/MyriadProItalic.woff") format("woff"),
			 url("fonts/MyriadProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}





html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-size: 18px;
  color: #333;
  font-weight: 200;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "mydriad", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.hidden {
  display: none;
}

a,
a:focus {
  text-decoration: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
  /*Disable Animation on Mobile Devices*/

  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {

}
* {
  text-transform: uppercase;
  padding: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), to(#fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}